/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 11/12/2017, 10:27:10
    Author     : levimmartins
*/


.body_atualizado{
    background-color: #d9ead3c4;
    margin-top: 11%;
    font-family: 'Source Sans Pro', sans-serif;
    
}

.navbar_atualizada{
    background-color: #84b59fff;
}

